<!doctype html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/chat.css' />
  </head>
  <body>
      <div class="chat-box">
        <div class="chat-face"><img src="/images/chat/my.png" alt="" /></div>
        <div class="chat-area">
          <div class="chat-hukidashi" id = "text">/*吹き出しに入れたい内容を書きましょう。*/</div>
        </div>
      </div>
      
      <div class="chat-box2">
      <div class="chat-face2"><img src="/images/chat/someone.png" alt="" /></div>
      <div class="chat-area2">
      <div class="chat-hukidashi2">/*吹き出しに入れたい内容を書きましょう。*/</div>
      </div>
      </div>
      <form action="">
          <input id="m" autocomplete="off" /><button>Send</button>
      </form>
    
    <!-- socket.ioをロードする -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    
    <script>
      var mydiv = document.getElementById("text");
      mydiv.innerHTML = "test";
      var socket = io();
      $('form').submit(function(){
        // メッセージを送信する
        socket.emit('chat message', $('#m').val());
        console.log('push')
        $('#m').val('');
        return false;
      });
      // メッセージを受信する
      socket.on('chat message', function(msg){
        $('#messages').append($('<li>').text(msg.value));
            // var audio = new Audio();
            // audio.src = "http://localhost:8888/"+msg;
            // console.log(msg);
            // audio.play();
      });
      function getLimit(id,tag_id){
        var hostURL = "http://ec2-18-224-8-138.us-east-2.compute.amazonaws.com:3000/userinfo?property_id=2"
        var endpoint = "chat/thread_list"
        var query = ""
        if(id != undefined){
          query = "?id=" + id
        }else if(tag_id != undefined){
          query = "?tag_id=" + tag_id
        }else{
          return;
        }
        var url = hostURL + endpoint + query; // リクエスト先URL
        var request = new XMLHttpRequest();
        request.onreadystatechange = function () {
          if (request.readyState != 4) {
            // リクエスト中
          } else if (request.status != 200) {
            // 失敗
          } else {
            // 取得成功
            var results = JSON.parse(request.responseText);
            // document.getElementById("text").innerHTML = str(results)
            document.getElementById("text1").innerHTML = '<div id = "text"></div>'
            console.log(results)
            for (var i = 0; i < results.length; i++){
              id=results[i].id;
              pict=results[i].pict;
              name=results[i].name;
              good=results[i].good;
              addr=results[i].addr;
              // document.write()
              document.getElementById("text").innerHTML +=
              '<div class="col-lg-4 col-sm-6 text-center mb-4">\
                <img class="card img-fluid d-block mx-auto" src="../public/images/島さとし.jpg"alt="">\
                <div class="card-body"><h4 class="card-title">' + name + '</h4>\
                  <p class="card-text">Some example text.</p>\
                  <a href="#" class="btn btn-primary">See Profile</a>\
                </div>\
              </div>'
            }

          }
        };
        request.response = 'json';
        request.open('GET', url);
        request.send(null);
      }
    </script>
  </body>
</html>

<!-- <!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
    </style>
  </head>
  <body>
    <ul id="messages"></ul>

  </body>
</html>