<!--Bootstrap４に必要なCSSとJavaScriptを読み込み-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<div class="p-3">
  <!-- タブボタン部分 -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#tab1" class="nav-link active" data-toggle="tab">概要</a>
    </li>
    <li class="nav-item">
      <a href="#tab2" class="nav-link" data-toggle="tab">詳細</a>
    </li>
    <li class="nav-item">
      <a href="#tab3" class="nav-link" data-toggle="tab">チャット</a>
    </li>
    <li class="nav-item">
      <a href="#tab4" class="nav-link" data-toggle="tab">タブ4</a>
    </li>
  </ul>

  <!--タブのコンテンツ部分-->
  <div class="tab-content">
    <div id="tab1" class="tab-pane active">
	<p style="margin:40px;">
      <img src="seizika.png" alt="seizi" class="img-fluid">
	<table>
        <tr>
          <th><th width="100">名前</th>
          <th><th width="100">三言</th>
        </tr>
        <tr>
          <td><td wigth="300">あつこ</td>

          <td><td wigth="300"><br>★やる気</br>
	      <td wigth="300"><br>★元気</br>
	      <td wigth="300"><br>★根気</br></td>
        </tr>
        <tr>
          <td>Kiki</td>
          <td>clmv77543cdkdvbcdc65454hf7565cd6c5mm44c34</td>
        </tr>
      </table>
      ganbaruyo</p>
    </div>

    <div id="tab2" class="tab-pane">
	<p style="margin:40px;">
      <img src="seizika.png" alt="seizi" class="img-fluid"></p>
    </div>
    <div id="tab3" class="tab-pane">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/221808/photo3.jpg" alt="" class="img-fluid">
    </div>
    <div id="tab4" class="tab-pane">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/221808/photo4.jpg" alt="" class="img-fluid">
    </div>
  </div>
</div>

.container {
  width: 300px;
  height: auto;
  margin: auto;
  background: #CAF6E6;
  padding: 20px;
}

table {
  width: 100%;
}

