<!--Bootstrap４に必要なCSSとJavaScriptを読み込み-->

<!--<link rel="stylesheet" href="/Users/ryoya/docomo/docomo_hackathon/public/stylesheets/main.css" crossorigin="anonymous">-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<link rel="stylesheet" href="/Users/ryoya/docomo/docomo_hackathon/public/stylesheets/tabu.css" type="text/css" />

<div class="p-3">
  <!-- タブボタン部分 -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#tab1" class="nav-link active" data-toggle="tab">概要</a>
    </li>
    <li class="nav-item">
      <a href="#tab2" class="nav-link" data-toggle="tab">詳細</a>
    </li>
    <li class="nav-item">
      <a href="#tab3" class="nav-link" data-toggle="tab">チャット</a>
    </li>
    <!--
    <li class="nav-item">
      <a href="#tab4" class="nav-link" data-toggle="tab">タブ4</a>
    </li>
     -->
  </ul>

  <!--タブのコンテンツ部分-->


  <div class="tab-content">
    <div id="tab1" class="tab-pane active">
     <p style="margin:40px;">
      <div id=image1>
        <!-- 写真を挿入 -->
      </div>
        
	<table>
        
          <div width="200" id=name_list >名前</div>
          <!--<div width="200">三言</div>-->
        
        
          <div wigth="200" id=name></div>
              <div width="200" id=tag_abs_list>三言</div>
	  <div wigth="200" id="tag_abs_1"></div>
	      <div wigth="200" id="tag_abs_2"></div>
	      <div wigth="200" id="tag_abs_3"></div>
	  
      
        
      </table>
      <button type="button"onclick="window.open('リンク先url')">戻る</button>
      </p>
    </div>

    <div id="tab2" class="tab-pane">
	<div align="center">
	<p style="margin:20px;">
      <div id=image2>
          <!-- 写真を挿入 -->
     
	 <div id="wrap"></div>
	 <div id="wrap2"></div>
　<script>

  // getLimit(5)
  getUserInfo(2);
  getOverview(2);
getUserDetail(2);
      function getUserInfo(id){
		  
      hostURL = "http://ec2-18-224-8-138.us-east-2.compute.amazonaws.com:3000/userinfo?id="+id
      var url = hostURL; // リクエスト先URL
      console.log(hostURL)
      var request = new XMLHttpRequest();
      request.onreadystatechange = function () {
      if (request.readyState != 4) {
          // リクエスト中
        } else if (request.status != 200) {
          // 失敗
        } else {
          // 取得成功
          var results = JSON.parse(request.responseText);
          // document.getElementById("text").innerHTML = str(results)
          //document.getElementById("text1").innerHTML = '<div id = "text"></div>'
          console.log(results)
		      for (var i = 0; i < results.length; i++){
            if(id == results[i].id){
              pict=results[i].pict;
              name=results[i].name;
              var div=document.getElementById('name');
              div.innerHTML += results[i].name;
              var div2=document.getElementById('name_detail');
              div2.innerHTML += results[i].name;
              console.log(results[i].name)
              var image_div1=document.getElementById('image1');
              image_div1.innerHTML += '<img src="'+pict+'" alt="seizi" class="img-fluid">'
              var image_div2=document.getElementById('image2');
              image_div2.innerHTML += '<img src="'+pict+'" alt="seizi" class="img-fluid">'
            }
          }
        }
      };
      request.response = 'json';
      request.open('GET', url);
      request.send(null);
    }
    function getOverview(id){
      hostURL = "http://ec2-18-224-8-138.us-east-2.compute.amazonaws.com:3000/userinfo/overview?id="+id
      var url = hostURL; // リクエスト先URL
      console.log(hostURL)
      var request = new XMLHttpRequest();
      request.onreadystatechange = function () {
      if (request.readyState != 4) {
          // リクエスト中
        } else if (request.status != 200) {
          // 失敗
        } else {
          // 取得成功
          var results = JSON.parse(request.responseText);
          // document.getElementById("text").innerHTML = str(results)
          //document.getElementById("text1").innerHTML = '<div id = "text"></div>'
          console.log(results)
		      for (var i = 0; i < results.length; i++){
            tag_abs_1=results[i].tag_abs_1;
            tag_abs_2=results[i].tag_abs_2;
            tag_abs_3=results[i].tag_abs_3;
            if(results[i].id == id){
              var div=document.getElementById('tag_abs_1');
              div.innerHTML += tag_abs_1;
              var div2=document.getElementById('tag_abs_2');
              div2.innerHTML += tag_abs_2;
              var div3=document.getElementById('tag_abs_3');
              div3.innerHTML += tag_abs_3;
              // var div2=document.getElementById('tag_abs_2');
              // div2.innerHTML += results[i].name;
            }
          }
        }
      };
      request.response = 'json';
      request.open('GET', url);
      request.send(null);
    }
	function getUserDetail(id){
		  
      hostURL = "http://ec2-18-224-8-138.us-east-2.compute.amazonaws.com:3000/userinfo/detail?id="+id
      var url = hostURL; // リクエスト先URL
      console.log(hostURL)
      var request = new XMLHttpRequest();
      request.onreadystatechange = function () {
      if (request.readyState != 4) {
          // リクエスト中
        } else if (request.status != 200) {
          // 失敗
        } else {
          // 取得成功
          var results = JSON.parse(request.responseText);
          // document.getElementById("text").innerHTML = str(results)
          //document.getElementById("text1").innerHTML = '<div id = "text"></div>'
          console.log(results)
		      for (var i = 0; i < results.length; i++){
              pict=results[i].pict;
              name=results[i].name;
              var div=document.getElementById('name_detail');
              div.innerHTML += results[i].detail;
            
          }
        }
      };
      request.response = 'json';
      request.open('GET', url);
      request.send(null);
    }
  </script>
<!--
  <table>
      
    <tr>
      <th><th width="400" id=name_detail></th>'
    </tr>
 
    </table>
  -->
   </div>
      <br>
      <dic id=detail_list>~messeage~</div>
      <div id=name_detail></div>
  </div>

    <button type="button"onclick="window.open('リンク先url')">戻る</button>
    </div>
    <div id="tab3" class="tab-pane">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/221808/photo3.jpg" alt="" class="img-fluid">
    </div>
    <div id="tab4" class="tab-pane">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/221808/photo4.jpg" alt="" class="img-fluid">
    </div>
</div>

