button {
    width: 100px;
    height: 40px;
    border: 1px solid #ccc;
    background-color: white;
    color: #000000;
}

.active {
    background-color: red;
    color: white;
}

#site-box {
    width : 600px;
    
}
 
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}
/*
#site-box {
    height: 100%;
    background: #bbddff;
}
*/
